[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
pyjwt = {extras = ["crypto"], version = "*"}
cryptography = {extras = ["ssh"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"
psycopg = "*"
isort = "*"
flake8 = "*"
black = "*"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.10"
